<app-top></app-top>
<div class="main-page login-page">
    <div class="login-top">
        <h2>Verify your Account »</h2>
    </div>
    <div class="widget-shadow">
        <div class="login-body">
            <form>
                <input type="text" class="tf-lenos" name="email" placeholder="Enter your email or mobile number" required="">
                <input type="number" class="rf-lenos" maxlength="6" name="otp"  placeholder="OTP">
                <input type="button" class="btn-lenos"  value="Continue">
                <div class="forgot-grid">
                    <div class="clearfix"> </div>
                </div>
            </form>

            <div class="forgot-grid">
                 <label>Didn't receve the OTP  yet?</label> <a class="link"> Resend</a>
                <div class="clearfix"> </div>
            </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>