<div class="sidebar" id="sidebar" role="navigation">
	<div class="navbar-collapse">
		<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
			<ul class="nav" id="side-menu">
				<li>
					<a href="/" class="active"><i class="fa fa-home nav_icon"></i>Dashboard</a>
				</li>
				<li>
					<a [routerLink]="['/buyers']"><i class="fa fa-user nav_icon"></i>Buyers <span
							class="nav-badge-btm">{{counts!.buyers}}</span></a>
				</li>
				<li>
					<a [routerLink]="['/businesses']"><i class="fa fa-users nav_icon"></i>businesss <span
							class="nav-badge-btm">{{counts!.sellers}}</span></a>
				</li>
				<li>
					<a href="JavaScript:return false;"><i class="material-icons nav_icon">paid</i> Manage Orders <span
							class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li>
							<a [routerLink]="['/product/orders']">All Oders</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="JavaScript:return false;"><i class="fa fa-th-large nav_icon"></i>Manage Categories <span
							class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li>
							<a [routerLink]="['#']" (click)="addCategory();">Add new Category</a>
						</li>
						<li>
							<a [routerLink]="['/product/categories']">All Categories</a>
						</li>

					</ul>
				</li>
				
				<li>
					<a href="JavaScript:return false;"><i class="fa fa-th-large nav_icon"></i>Manage Vouchers <span
							class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li>
							<a [routerLink]="['/voucher/cards']">All Vouchers</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="JavaScript:return false;"><i class="fa fa-shopping-cart nav_icon"></i>Manage Products<span
							class="nav-badge-btm">{{counts!.products}}</span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li>
							<a [routerLink]="['product/add']">Add new Product</a>
						</li>
						<li>
							<a [routerLink]="['product/products']">My Products</a>
						</li>
					</ul>
					<!-- //nav-second-level -->
				</li>
				<li>
					<a href="JavaScript:return false;"><i class="fa fa-map-marker nav_icon"></i>Manage Locations <span
							class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li>
							<a [routerLink]="['/locations']">View Locations</a>
						</li>
						<li>
							<a [routerLink]="['/location/add']">Add New Location</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="JavaScript:return false;"><i class="fa fa-envelope-o nav_icon"></i>Messages <span
							class="nav-badge-btm">{{counts!.messages}}</span> <span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li>
							<a [routerLink]="['/business/inbox']">Inbox</a>
						</li>
						<li>
							<a [routerLink]="['/business/message']">New Message</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="JavaScript:return false;"><i class="fa fa-file-text-o nav_icon"></i>Account<span
							class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse" *ngIf="!isAuthenticated">
						<li>
							<a [routerLink]="['business/login']">Login</a>
						</li>
						<li>
							<a [routerLink]="['business/signup']">SignUp</a>
						</li>
					</ul>
					<ul class="nav nav-second-level collapse" *ngIf="isAuthenticated">
						<li>
							<a [routerLink]="['business/profile']">Profile</a>
							<a [routerLink]="['#']" (click)="logout();">Logout</a>
						</li>
					</ul>
					<!-- //nav-second-level -->
				</li>
			</ul>
			<!-- //sidebar-collapse -->
		</nav>
	</div>
</div>