body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #4c4c4c;
  font-weight: normal;
  overflow-x: hidden;
}
.cdk-overlay-container {
  right: 20px;
  top: 40px;
  position: fixed;
  overflow: hidden;
  z-index: 100000;
}
.green-snackbar {
  color: #155724;
  background-color: #7ac58c;
  border-color: #c3e6cb;
}
.green-snackbar button {
  background-color: #5bb971;
  color: white;
  border: none;
}
.red-snackbar {
  color: #721c24;
  background-color: #e27b83;
  border-color: #e27b83;
}
.red-snackbar button {
  background-color: #df7981;
  color: white !important;
  border: none;
}
.yellow-snackbar {
  color: #856404;
  background-color: #e6b516;
  border-color: #ffeeba;
}
.yellow-snackbar button {
  background-color: #dbad16;
  color: white !important;
  border: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch  .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch  input:checked + .slider {
  background-color: #d83737;
}

.switch  input:focus + .slider {
  box-shadow: 0 0 1px #d83737;
}

.switch  input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch  .slider.round {
  border-radius: 34px;
}

.switch  .slider.round:before {
  border-radius: 50%;
}
.main-content{
  margin-left: 35px;
}
.errorWrapper{
  width: 100%;
  min-height: 100px;
  padding: 15px;
  vertical-align: middle;
  text-align: center;
}
@media(max-width:1024px){
  .main-content{
      margin-left: 0 !important;
  }
}
@media(max-width:768px){
    .cdk-overlay-container {
        right: -25px;
        top: 47px;
        position: fixed;
        overflow: hidden;
    }
}
@media(max-width:600px){
    .cdk-overlay-container {
        right: -1px;
        top: 57px;
        position: fixed;
        overflow: hidden;
    }
    .sign-conatiner {
        width: 100%;
    }
}